@import '../app.scss';

.a_book{
	padding: 15px;
	margin: 15px;
}

.books_list{
	text-align: center;
	margin-top: 8px;
}

.pagination{	
	margin: 10px 0 0 300px;
}

.pagination_top{
	display: inline-flex;
	margin-left: 200px;
}

.note_list{
	margin-top: 8px;
}

.word_list{
	margin-top: 8px;
}

.reading_status:active{
	color: blue;
}

