@import '../app.scss';

.pushable{
	border: 0 !important;
	box-shadow: none !important;
}

.nav_bar_row{
	padding: 0 15px;
	display: flex;
	align-items : center;
}

.nav_bar_right{
	text-align: right;
}

.nav_bar{
	width: 1278px;
	height: 65px;
	background: #fff;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	position: fixed;
	z-index: 100
}

.bookshelf_item{
	margin: 15px;
	padding: 15px;
}

.book_cover{
	width: 117px;
}

.big_book_cover{
	width: 128px;
}

.description_box{
	margin: 30px 150px;
}

.review_item{
	margin-bottom: 10px;
	padding: 10px;
}	

.indented_comment{
	padding-left: 50px;
	padding-right: 0;
	width: 100%;
	border: 0;
}

.review_widget{
	border: 0;
}

.reply_wrapper{
	width: 100%;
}

.word_def{
	margin-top: 15px;
}